html,
body,
#__nuxt,
#__layout {
  height: 100% !important;
  width: 100% !important;
}

.preview-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.preview-wrap .preview-background {
  width: 100%;
  height: 100%;
}

.preview-wrap .preview-foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-all;
}
